<footer id="footer">
    <section>
        <form method="POST" action="https://formspree.io/rthalliday@live.co.uk">
            <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required/>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required/>
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="3" required></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Location</h3>
            <p>{{site.location}}</p>
        </section>
        <section>
            <h3>Phone</h3>
            <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
        </section>
        <!--<section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
                <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
                <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
            </ul>
        </section>-->
    </section>
</footer>
<!-- Copyright -->
<div id="copyright">
    <ul>
        <li>&copy; RT Halliday Stonework</li>
        <li>
            Website by <a href="http://thepixelforge.co.uk" target="_blank" rel="noopener"><strong>The Pixel Forge</strong></a>
        </li>
    </ul>
</div>
