{% include tracking.html %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% if page.url == "/" %}
<title>{{ page.seoTitle }}</title>
<meta property="og:title" content="{{ page.seoTitle }}">
{% else %}
<title>{{ page.title }} | RTHalliday Stonework</title>
<meta property="og:title" content="{{ page.title }} | RTHalliday Stonework">
{% endif %}
<meta property="og:site_name" content="{{ site.title }}">

<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">

<meta property="og:image" content="{{ page.image }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="theme-color" content="#ffffff">
<meta name="author" content="The Pixel Forge">
<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>