 <ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/work/' %} active {% endif %}"><a href="{{ "/work/" | absolute_url }}">Work</a></li>
  <li><a href="#footer" class="scrolly">Contact</a></li>
</ul>
