﻿.carousel .flickity-viewport {
    width: 100%;
    height: 80vh;
}

.carousel {
    background: red;
}

.carousel-cell {
    width: 80%;
    height: 100%;
    margin-right: 10px;
    background: blue;
}
