@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
/*
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25 > * {
  padding: 0 0 0 0rem; }

.row.\30 \25 {
  margin: 0 0 -1px 0rem; }

.row.uniform.\30 \25 > * {
  padding: 0rem 0 0 0rem; }

.row.uniform.\30 \25 {
  margin: 0rem 0 -1px 0rem; }

.row > * {
  padding: 0 0 0 1.5rem; }

.row {
  margin: 0 0 -1px -1.5rem; }

.row.uniform > * {
  padding: 1.5rem 0 0 1.5rem; }

.row.uniform {
  margin: -1.5rem 0 -1px -1.5rem; }

.row.\32 00\25 > * {
  padding: 0 0 0 3rem; }

.row.\32 00\25 {
  margin: 0 0 -1px -3rem; }

.row.uniform.\32 00\25 > * {
  padding: 3rem 0 0 3rem; }

.row.uniform.\32 00\25 {
  margin: -3rem 0 -1px -3rem; }

.row.\31 50\25 > * {
  padding: 0 0 0 2.25rem; }

.row.\31 50\25 {
  margin: 0 0 -1px -2.25rem; }

.row.uniform.\31 50\25 > * {
  padding: 2.25rem 0 0 2.25rem; }

.row.uniform.\31 50\25 {
  margin: -2.25rem 0 -1px -2.25rem; }

.row.\35 0\25 > * {
  padding: 0 0 0 0.75rem; }

.row.\35 0\25 {
  margin: 0 0 -1px -0.75rem; }

.row.uniform.\35 0\25 > * {
  padding: 0.75rem 0 0 0.75rem; }

.row.uniform.\35 0\25 {
  margin: -0.75rem 0 -1px -0.75rem; }

.row.\32 5\25 > * {
  padding: 0 0 0 0.375rem; }

.row.\32 5\25 {
  margin: 0 0 -1px -0.375rem; }

.row.uniform.\32 5\25 > * {
  padding: 0.375rem 0 0 0.375rem; }

.row.uniform.\32 5\25 {
  margin: -0.375rem 0 -1px -0.375rem; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left; }

.\-11u {
  margin-left: 91.6666666667%; }

.\-10u {
  margin-left: 83.3333333333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.6666666667%; }

.\-7u {
  margin-left: 58.3333333333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.6666666667%; }

.\-4u {
  margin-left: 33.3333333333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.6666666667%; }

.\-1u {
  margin-left: 8.3333333333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xlarge\29 + *,
  .\31 1u\24\28xlarge\29 + *,
  .\31 0u\24\28xlarge\29 + *,
  .\39 u\24\28xlarge\29 + *,
  .\38 u\24\28xlarge\29 + *,
  .\37 u\24\28xlarge\29 + *,
  .\36 u\24\28xlarge\29 + *,
  .\35 u\24\28xlarge\29 + *,
  .\34 u\24\28xlarge\29 + *,
  .\33 u\24\28xlarge\29 + *,
  .\32 u\24\28xlarge\29 + *,
  .\31 u\24\28xlarge\29 + * {
    clear: left; }
  .\-11u\28xlarge\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xlarge\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xlarge\29 {
    margin-left: 75%; }
  .\-8u\28xlarge\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xlarge\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xlarge\29 {
    margin-left: 50%; }
  .\-5u\28xlarge\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xlarge\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xlarge\29 {
    margin-left: 25%; }
  .\-2u\28xlarge\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xlarge\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 1280px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28large\29, .\31 2u\24\28large\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28large\29, .\31 1u\24\28large\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28large\29, .\31 0u\24\28large\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28large\29, .\39 u\24\28large\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28large\29, .\38 u\24\28large\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28large\29, .\37 u\24\28large\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28large\29, .\36 u\24\28large\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28large\29, .\35 u\24\28large\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28large\29, .\34 u\24\28large\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28large\29, .\33 u\24\28large\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28large\29, .\32 u\24\28large\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28large\29, .\31 u\24\28large\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28large\29 + *,
  .\31 1u\24\28large\29 + *,
  .\31 0u\24\28large\29 + *,
  .\39 u\24\28large\29 + *,
  .\38 u\24\28large\29 + *,
  .\37 u\24\28large\29 + *,
  .\36 u\24\28large\29 + *,
  .\35 u\24\28large\29 + *,
  .\34 u\24\28large\29 + *,
  .\33 u\24\28large\29 + *,
  .\32 u\24\28large\29 + *,
  .\31 u\24\28large\29 + * {
    clear: left; }
  .\-11u\28large\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28large\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28large\29 {
    margin-left: 75%; }
  .\-8u\28large\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28large\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28large\29 {
    margin-left: 50%; }
  .\-5u\28large\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28large\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28large\29 {
    margin-left: 25%; }
  .\-2u\28large\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28large\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28medium\29, .\39 u\24\28medium\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28medium\29, .\38 u\24\28medium\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28medium\29, .\37 u\24\28medium\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28medium\29, .\36 u\24\28medium\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28medium\29, .\35 u\24\28medium\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28medium\29, .\34 u\24\28medium\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28medium\29, .\33 u\24\28medium\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28medium\29, .\32 u\24\28medium\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28medium\29, .\31 u\24\28medium\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28medium\29 + *,
  .\31 1u\24\28medium\29 + *,
  .\31 0u\24\28medium\29 + *,
  .\39 u\24\28medium\29 + *,
  .\38 u\24\28medium\29 + *,
  .\37 u\24\28medium\29 + *,
  .\36 u\24\28medium\29 + *,
  .\35 u\24\28medium\29 + *,
  .\34 u\24\28medium\29 + *,
  .\33 u\24\28medium\29 + *,
  .\32 u\24\28medium\29 + *,
  .\31 u\24\28medium\29 + * {
    clear: left; }
  .\-11u\28medium\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28medium\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28medium\29 {
    margin-left: 75%; }
  .\-8u\28medium\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28medium\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28medium\29 {
    margin-left: 50%; }
  .\-5u\28medium\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28medium\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28medium\29 {
    margin-left: 25%; }
  .\-2u\28medium\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28medium\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28small\29, .\31 1u\24\28small\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28small\29, .\31 0u\24\28small\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28small\29, .\39 u\24\28small\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28small\29, .\38 u\24\28small\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28small\29, .\37 u\24\28small\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28small\29, .\36 u\24\28small\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28small\29, .\35 u\24\28small\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28small\29, .\34 u\24\28small\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28small\29, .\33 u\24\28small\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28small\29, .\32 u\24\28small\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28small\29, .\31 u\24\28small\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28small\29 + *,
  .\31 1u\24\28small\29 + *,
  .\31 0u\24\28small\29 + *,
  .\39 u\24\28small\29 + *,
  .\38 u\24\28small\29 + *,
  .\37 u\24\28small\29 + *,
  .\36 u\24\28small\29 + *,
  .\35 u\24\28small\29 + *,
  .\34 u\24\28small\29 + *,
  .\33 u\24\28small\29 + *,
  .\32 u\24\28small\29 + *,
  .\31 u\24\28small\29 + * {
    clear: left; }
  .\-11u\28small\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28small\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28small\29 {
    margin-left: 75%; }
  .\-8u\28small\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28small\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28small\29 {
    margin-left: 50%; }
  .\-5u\28small\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28small\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28small\29 {
    margin-left: 25%; }
  .\-2u\28small\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28small\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xsmall\29 + *,
  .\31 1u\24\28xsmall\29 + *,
  .\31 0u\24\28xsmall\29 + *,
  .\39 u\24\28xsmall\29 + *,
  .\38 u\24\28xsmall\29 + *,
  .\37 u\24\28xsmall\29 + *,
  .\36 u\24\28xsmall\29 + *,
  .\35 u\24\28xsmall\29 + *,
  .\34 u\24\28xsmall\29 + *,
  .\33 u\24\28xsmall\29 + *,
  .\32 u\24\28xsmall\29 + *,
  .\31 u\24\28xsmall\29 + * {
    clear: left; }
  .\-11u\28xsmall\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xsmall\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xsmall\29 {
    margin-left: 75%; }
  .\-8u\28xsmall\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xsmall\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xsmall\29 {
    margin-left: 50%; }
  .\-5u\28xsmall\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xsmall\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xsmall\29 {
    margin-left: 25%; }
  .\-2u\28xsmall\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xsmall\29 {
    margin-left: 8.3333333333%; } }

@media screen and (max-width: 360px) {
  .row > * {
    padding: 0 0 0 1.5rem; }
  .row {
    margin: 0 0 -1px -1.5rem; }
  .row.uniform > * {
    padding: 1.5rem 0 0 1.5rem; }
  .row.uniform {
    margin: -1.5rem 0 -1px -1.5rem; }
  .row.\32 00\25 > * {
    padding: 0 0 0 3rem; }
  .row.\32 00\25 {
    margin: 0 0 -1px -3rem; }
  .row.uniform.\32 00\25 > * {
    padding: 3rem 0 0 3rem; }
  .row.uniform.\32 00\25 {
    margin: -3rem 0 -1px -3rem; }
  .row.\31 50\25 > * {
    padding: 0 0 0 2.25rem; }
  .row.\31 50\25 {
    margin: 0 0 -1px -2.25rem; }
  .row.uniform.\31 50\25 > * {
    padding: 2.25rem 0 0 2.25rem; }
  .row.uniform.\31 50\25 {
    margin: -2.25rem 0 -1px -2.25rem; }
  .row.\35 0\25 > * {
    padding: 0 0 0 0.75rem; }
  .row.\35 0\25 {
    margin: 0 0 -1px -0.75rem; }
  .row.uniform.\35 0\25 > * {
    padding: 0.75rem 0 0 0.75rem; }
  .row.uniform.\35 0\25 {
    margin: -0.75rem 0 -1px -0.75rem; }
  .row.\32 5\25 > * {
    padding: 0 0 0 0.375rem; }
  .row.\32 5\25 {
    margin: 0 0 -1px -0.375rem; }
  .row.uniform.\32 5\25 > * {
    padding: 0.375rem 0 0 0.375rem; }
  .row.uniform.\32 5\25 {
    margin: -0.375rem 0 -1px -0.375rem; }
  .\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }
  .\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }
  .\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }
  .\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }
  .\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }
  .\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }
  .\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }
  .\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }
  .\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }
  .\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }
  .\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }
  .\31 2u\24\28xxsmall\29 + *,
  .\31 1u\24\28xxsmall\29 + *,
  .\31 0u\24\28xxsmall\29 + *,
  .\39 u\24\28xxsmall\29 + *,
  .\38 u\24\28xxsmall\29 + *,
  .\37 u\24\28xxsmall\29 + *,
  .\36 u\24\28xxsmall\29 + *,
  .\35 u\24\28xxsmall\29 + *,
  .\34 u\24\28xxsmall\29 + *,
  .\33 u\24\28xxsmall\29 + *,
  .\32 u\24\28xxsmall\29 + *,
  .\31 u\24\28xxsmall\29 + * {
    clear: left; }
  .\-11u\28xxsmall\29 {
    margin-left: 91.6666666667%; }
  .\-10u\28xxsmall\29 {
    margin-left: 83.3333333333%; }
  .\-9u\28xxsmall\29 {
    margin-left: 75%; }
  .\-8u\28xxsmall\29 {
    margin-left: 66.6666666667%; }
  .\-7u\28xxsmall\29 {
    margin-left: 58.3333333333%; }
  .\-6u\28xxsmall\29 {
    margin-left: 50%; }
  .\-5u\28xxsmall\29 {
    margin-left: 41.6666666667%; }
  .\-4u\28xxsmall\29 {
    margin-left: 33.3333333333%; }
  .\-3u\28xxsmall\29 {
    margin-left: 25%; }
  .\-2u\28xxsmall\29 {
    margin-left: 16.6666666667%; }
  .\-1u\28xxsmall\29 {
    margin-left: 8.3333333333%; } }

/* Basic */
@-ms-viewport {
  width: device-width; }

body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }

body {
  background-color: #1e252d; }
  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

/* Type */
html {
  font-size: 16pt; }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 16pt; } }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 14pt; } }
  @media screen and (max-width: 360px) {
    html {
      font-size: 12pt; } }

body {
  color: #212931; }

body, input, select, textarea {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.375; }

a {
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-bottom: dotted 1px;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

p {
  text-align: justify;
  margin: 0 0 2rem 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin: 0 0 1rem 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom: 0;
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 2rem 0; }

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
  margin: 0 0 1.5rem 0; }

h3 {
  font-size: 1.25rem;
  margin: 0 0 1.5rem 0; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.8rem; }

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem; }

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem; }

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 0.5rem 0 0.5rem 2rem; }

code {
  border: solid 2px;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 2px;
  margin: 3rem 0; }
  hr.major {
    margin: 5rem 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

input, select, textarea {
  color: #212931; }

a {
  color: #212931;
  border-bottom-color: rgba(33, 41, 49, 0.5); }
  a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important; }

strong, b {
  color: #212931; }

h1, h2, h3, h4, h5, h6 {
  color: #212931; }

blockquote {
  border-left-color: #eeeeee; }

code {
  background: rgba(220, 220, 220, 0.25);
  border-color: #eeeeee; }

hr {
  border-bottom-color: #eeeeee; }

/* Box */
.box {
  border: solid 2px;
  margin-bottom: 2rem;
  padding: 1.5rem; }
  .box > :last-child,
  .box > :last-child > :last-child,
  .box > :last-child > :last-child > :last-child {
    margin-bottom: 0; }
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0; }

.box {
  border-color: #eeeeee; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5rem; }
  input[type="submit"].icon.solo,
  input[type="reset"].icon.solo,
  input[type="button"].icon.solo,
  button.icon.solo,
  .button.icon.solo {
    position: relative;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 4rem;
    text-indent: 4rem;
    overflow: hidden;
    padding: 0;
    white-space: nowrap; }
    input[type="submit"].icon.solo:before,
    input[type="reset"].icon.solo:before,
    input[type="button"].icon.solo:before,
    button.icon.solo:before,
    .button.icon.solo:before {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      line-height: inherit;
      font-size: 1.25rem;
      margin-right: 0;
      text-align: center;
      text-indent: 0; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1rem 0;
    width: 100%; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.7rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem; }
  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 0.9rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 2.75rem; }
  @media screen and (max-width: 980px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      font-size: 0.9rem;
      height: 3.25rem;
      line-height: 3.25rem; }
      input[type="submit"].big,
      input[type="reset"].big,
      input[type="button"].big,
      button.big,
      .button.big {
        font-size: 1rem;
        height: 3.75rem;
        line-height: 3.75rem; } }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #212931;
  color: #212931 !important; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important; }
  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #212931;
    box-shadow: none;
    color: #ffffff !important; }
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
      background-color: #18bfef; }

/* Form */
form {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 3rem);
  margin: -1.5rem 0 2rem -1.5rem; }
  form > .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem); }
    form > .field.half {
      width: calc(50% - 0.75rem); }
    form > .field.third {
      width: calc(100%/3 - 0.5rem); }
    form > .field.quarter {
      width: calc(25% - 0.375rem); }
  form > .actions {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    margin: 1.875rem 0 0 1.5rem !important;
    width: calc(100% - 3rem); }
  form.alt {
    display: block;
    width: 100%;
    margin: 0 0 2rem 0; }
    form.alt > .actions {
      margin: 0 0 2rem 0;
      width: 100%; }
  @media screen and (max-width: 480px) {
    form {
      width: calc(100% + 3rem);
      margin: -1.5rem 0 2rem -1.5rem; }
      form > .field {
        padding: 1.5rem 0 0 1.5rem;
        width: calc(100% - 1.5rem); }
        form > .field.half {
          width: calc(100% - 1.5rem); }
        form > .field.third {
          width: calc(100% - 1.5rem); }
        form > .field.quarter {
          width: calc(100% - 1.5rem); }
      form > .actions {
        margin: 1.5rem 0 0 1.5rem;
        width: calc(100% - 3rem); } }

label {
  display: block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 0.75rem 0; }
  @media screen and (max-width: 980px) {
    label {
      font-size: 0.9rem; } }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  border: solid 2px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .select-wrapper:before {
    content: '\f078';
    display: block;
    height: 3rem;
    line-height: 3rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 3rem; }
  .select-wrapper select::-ms-expand {
    display: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3rem; }

textarea {
  padding: 0.75rem 1rem; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0;
    font-family: "Merriweather", Georgia, serif;
    text-transform: none;
    font-weight: 300;
    padding-left: 2.8rem;
    padding-right: 1rem;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border: solid 2px;
      content: '';
      display: inline-block;
      height: 1.8rem;
      left: 0;
      line-height: 1.725rem;
      position: absolute;
      text-align: center;
      top: -0.125rem;
      width: 1.8rem; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  opacity: 1.0; }

:-moz-placeholder {
  opacity: 1.0; }

::-moz-placeholder {
  opacity: 1.0; }

:-ms-input-placeholder {
  opacity: 1.0; }

.formerize-placeholder {
  opacity: 1.0; }

label {
  color: #212931; }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  border-color: #eeeeee; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border-color: #18bfef; }

select option {
  background-color: #ffffff;
  color: #212931; }

.select-wrapper:before {
  color: #eeeeee; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #212931; }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    border-color: #eeeeee; }

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #212931;
  border-color: #212931;
  color: #ffffff; }

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #18bfef; }

::-webkit-input-placeholder {
  color: #909498 !important; }

:-moz-placeholder {
  color: #909498 !important; }

::-moz-placeholder {
  color: #909498 !important; }

:-ms-input-placeholder {
  color: #909498 !important; }

.formerize-placeholder {
  color: #909498 !important; }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative; }
  .image img {
    display: block; }
  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.left {
    float: left;
    margin: 0 2rem 2rem 0;
    top: 0.75rem; }
  .image.right {
    float: right;
    margin: 0 0 2rem 2rem;
    top: 0.75rem; }
  .image.fit {
    display: block;
    margin: 2.5rem 0;
    width: 100%; }
    .image.fit:first-child {
      margin-top: 0; }
    .image.fit img {
      width: 100%; }
  .image.main {
    display: block;
    margin: 4rem 0;
    width: 100%; }
    .image.main:first-child {
      margin-top: 0; }
    .image.main img {
      width: 100%; }
  @media screen and (max-width: 736px) {
    .image.fit {
      margin: 2rem 0; }
    .image.main {
      margin: 2rem 0; } }

a.image {
  overflow: hidden; }
  a.image img {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out; }
  a.image:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem; }
  ol li {
    padding-left: 0.25rem; }

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem; }
  ul li {
    padding-left: 0.5rem; }
  ul.divided {
    list-style: none;
    padding-left: 0; }
    ul.divided li {
      border-top: solid 1px;
      padding: 0.5rem 0; }
      ul.divided li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 0.5rem 0 0;
      vertical-align: middle; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        width: 2.25rem;
        height: 2.25rem;
        line-height: 2.25rem;
        display: inline-block;
        text-align: center;
        border-radius: 100%;
        font-size: 1.25rem; }
    ul.icons.alt li .icon:before {
      -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      font-size: 1rem; }
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 1rem 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5rem 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1rem 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5rem 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.fit {
      display: table;
      margin-left: -1rem;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1rem); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1rem; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5rem;
        width: calc(100% + 0.5rem); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5rem; }
    @media screen and (max-width: 480px) {
      ul.actions {
        margin: 0 0 2rem 0; }
        ul.actions li {
          padding: 1rem 0 0 0;
          display: block;
          text-align: center;
          width: 100%; }
          ul.actions li:first-child {
            padding-top: 0; }
          ul.actions li > * {
            width: 100%;
            margin: 0 !important; }
            ul.actions li > *.icon:before {
              margin-left: -2rem; }
        ul.actions.small li {
          padding: 0.5rem 0 0 0; }
          ul.actions.small li:first-child {
            padding-top: 0; } }

dl {
  margin: 0 0 2rem 0; }
  dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1rem 0; }
  dl dd {
    margin-left: 2rem; }

ul.divided li {
  border-top-color: #eeeeee; }

ul.icons li a.icon:hover:before {
  color: #18bfef; }

ul.icons.alt li .icon:before {
  box-shadow: inset 0 0 0 2px #eeeeee; }

ul.icons.alt li a.icon:hover:before {
  box-shadow: inset 0 0 0 2px #18bfef; }

/* Section/Article */
section.special, article.special {
  text-align: center; }

header {
  cursor: default; }
  header > .date {
    display: block;
    font-size: 0.8rem;
    height: 1;
    margin: 0 0 1rem 0;
    position: relative; }
  header > p {
    font-style: italic; }
  header > h1 + p {
    font-size: 1.1rem;
    margin-top: -0.5rem;
    line-height: 2; }
  header > h2 + p {
    font-size: 1rem;
    margin-top: -0.75rem; }
  header > h3 + p {
    font-size: 0.9rem;
    margin-top: -0.75rem; }
  header > h4 + p {
    font-size: 0.8rem;
    margin-top: -0.75rem; }
  header.major {
    margin: 0 0 4rem 0;
    text-align: center; }
    header.major > :last-child {
      margin-bottom: 0; }
    header.major > p {
      margin-top: 0;
      text-align: center; }
    header.major > .date {
      font-size: 1rem;
      margin: 0 0 4rem 0; }
      header.major > .date:before, header.major > .date:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: calc(50% - 6rem);
        border-top: solid 2px; }
      header.major > .date:before {
        left: 0; }
      header.major > .date:after {
        right: 0; }
  @media screen and (max-width: 980px) {
    header br {
      display: none; } }
  @media screen and (max-width: 736px) {
    header.major {
      margin: 0 0 2rem 0; } }

header.major .date:before, header.major .date:after {
  border-top-color: #eeeeee; }

/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: February 7, 2016
 */
.about-slider img {
  min-width: 100%; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2rem 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0; }
  table td {
    padding: 0.75rem 0.75rem; }
  table th {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1.5;
    padding: 0 0.75rem 0.75rem 0.75rem;
    text-align: left;
    text-transform: uppercase; }
    @media screen and (max-width: 980px) {
      table th {
        font-size: 0.9rem; } }
  table thead {
    border-bottom: solid 2px; }
  table tfoot {
    border-top: solid 2px; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

table tbody tr {
  border-color: #eeeeee; }
  table tbody tr:nth-child(2n + 1) {
    background-color: rgba(220, 220, 220, 0.25); }

table th {
  color: #212931; }

table thead {
  border-bottom-color: #eeeeee; }

table tfoot {
  border-top-color: #eeeeee; }

table.alt tbody tr td {
  border-color: #eeeeee; }

/* Pagination */
.pagination {
  display: inline-flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  list-style: none;
  margin: 0 0 2rem 2px;
  padding: 0; }
  .pagination a, .pagination span {
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: solid 2px;
    display: inline-block;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    height: 3rem;
    letter-spacing: 0.075em;
    line-height: calc(3rem - 4px);
    margin-left: -2px;
    min-width: 3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
  .pagination .next, .pagination .previous {
    text-decoration: none;
    padding: 0 1.75rem; }
    .pagination .next:before, .pagination .previous:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    .pagination .next:before, .pagination .previous:before {
      display: inline-block;
      color: inherit !important; }
  .pagination .previous:before {
    content: '\f104';
    margin-right: 0.9375em; }
  .pagination .next:before {
    content: '\f105';
    float: right;
    margin-left: 0.9375em; }
  @media screen and (max-width: 980px) {
    .pagination a, .pagination span {
      font-size: 0.9rem; } }
  @media screen and (max-width: 480px) {
    .pagination .page, .pagination .extra {
      display: none; } }

.pagination a, .pagination span {
  border-color: #eeeeee; }

.pagination a {
  color: #212931 !important; }
  .pagination a:hover {
    color: #18bfef !important;
    border-color: #18bfef;
    z-index: 1; }
    .pagination a:hover + a,
    .pagination a:hover + span {
      border-left-color: #18bfef; }
  .pagination a.active {
    background-color: #eeeeee; }

.pagination span {
  color: #eeeeee; }

/* Wrapper */
#wrapper {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #wrapper > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg.jpg");
    background-size: auto,								auto,														100% auto;
    background-position: center,								center,														top center;
    background-repeat: repeat,								no-repeat,													no-repeat;
    background-attachment: scroll,								scroll,														scroll;
    z-index: -1; }
    #wrapper > .bg.fixed {
      position: fixed;
      width: 100vw;
      height: 100vh; }
  #wrapper.fade-in:before {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    background: #1e252d;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%; }
  body.is-loading #wrapper.fade-in:before {
    opacity: 1; }
  @media screen and (orientation: portrait) {
    #wrapper > .bg {
      background-size: auto,								auto,														auto 175%; } }

/* Intro */
#intro {
  color: #ffffff;
  padding: 8rem 4rem 6rem 4rem ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 100vh;
  background: -moz-radial-gradient(center, ellipse cover, rgba(187, 187, 187, 0.56) 0%, rgba(255, 255, 255, 0) 60%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(187, 187, 187, 0.56) 0%, rgba(255, 255, 255, 0) 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(187, 187, 187, 0.56) 0%, rgba(255, 255, 255, 0) 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  #intro input, #intro select, #intro textarea {
    color: #ffffff; }
  #intro a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #intro a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important; }
  #intro strong, #intro b {
    color: #ffffff; }
  #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #ffffff; }
  #intro blockquote {
    border-left-color: #ffffff; }
  #intro code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff; }
  #intro hr {
    border-bottom-color: #ffffff; }
  #intro input[type="submit"],
  #intro input[type="reset"],
  #intro input[type="button"],
  #intro button,
  #intro .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important; }
    #intro input[type="submit"]:hover,
    #intro input[type="reset"]:hover,
    #intro input[type="button"]:hover,
    #intro button:hover,
    #intro .button:hover {
      box-shadow: inset 0 0 0 2px #18bfef;
      color: #18bfef !important; }
    #intro input[type="submit"].special,
    #intro input[type="reset"].special,
    #intro input[type="button"].special,
    #intro button.special,
    #intro .button.special {
      background-color: #ffffff;
      box-shadow: none;
      color: #1e252d !important; }
      #intro input[type="submit"].special:hover,
      #intro input[type="reset"].special:hover,
      #intro input[type="button"].special:hover,
      #intro button.special:hover,
      #intro .button.special:hover {
        background-color: #18bfef; }
  #intro h1 {
    font-size: 5rem;
    line-height: 1; }
  #intro .logo-text {
    background: url("/images/logo-small.png");
    background-size: contain;
    min-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0; }
  #intro p {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: -0.25rem;
    text-align: center; }
  #intro + #header {
    margin-top: -20rem; }
    #intro + #header .logo {
      -moz-transform: translateY(2rem);
      -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
      transform: translateY(2rem);
      opacity: 0;
      visibility: hidden; }
  #intro.hidden {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden; }
    #intro.hidden + #header .logo {
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
  body.is-loading #intro {
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0; }
    body.is-loading #intro:not(.hidden) + #header + #nav {
      -moz-transform: translateY(4rem);
      -webkit-transform: translateY(4rem);
      -ms-transform: translateY(4rem);
      transform: translateY(4rem);
      opacity: 0; }
  @media screen and (max-width: 980px) {
    #intro {
      padding: 4rem 4rem 2rem 4rem ;
      min-height: 90vh; }
      #intro p br {
        display: none; }
      #intro + #header {
        margin-top: -14rem; } }
  @media screen and (max-width: 736px) {
    #intro {
      padding: 3rem 2rem 1rem 2rem ;
      min-height: 80vh; }
      #intro h1 {
        font-size: 3.25rem;
        line-height: 1.1;
        margin-bottom: 1rem; }
      #intro p {
        font-size: 1rem;
        margin-top: 0rem; }
      #intro .actions {
        display: none; } }

/* Header */
#header {
  color: #ffffff;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20rem;
  padding-bottom: 8rem;
  position: relative;
  text-align: center;
  z-index: 2; }
  #header input, #header select, #header textarea {
    color: #ffffff; }
  #header a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #header a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important; }
  #header strong, #header b {
    color: #ffffff; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff; }
  #header blockquote {
    border-left-color: #ffffff; }
  #header code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff; }
  #header hr {
    border-bottom-color: #ffffff; }
  #header .logo {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    -moz-pointer-events: auto;
    -webkit-pointer-events: auto;
    -ms-pointer-events: auto;
    pointer-events: auto;
    border-width: 0px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 1rem 1.75rem;
    text-transform: uppercase;
    visibility: visible; }
    #header .logo img {
      max-width: 220px; }
  @media screen and (max-width: 980px) {
    #header {
      height: 14rem;
      padding-bottom: 4rem; } }
  @media screen and (max-width: 736px) {
    #header {
      padding-bottom: 3rem; }
      #header .logo {
        font-size: 1.75rem;
        border-width: 3px !important; } }

/* Nav */
#nav {
  color: #ffffff;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  background: rgba(255, 255, 255, 0.175);
  height: 4rem;
  line-height: 4rem;
  margin: -4rem auto 0 auto;
  overflow: hidden;
  padding: 0 2rem 0 0;
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2; }
  #nav ul.divided li {
    border-top-color: #ffffff; }
  #nav ul.icons li a.icon:hover:before {
    color: #18bfef; }
  #nav ul.icons.alt li .icon:before {
    box-shadow: inset 0 0 0 2px #ffffff; }
  #nav ul.icons.alt li a.icon:hover:before {
    box-shadow: inset 0 0 0 2px #18bfef; }
  #nav input, #nav select, #nav textarea {
    color: #ffffff; }
  #nav a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #nav a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important; }
  #nav strong, #nav b {
    color: #ffffff; }
  #nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
    color: #ffffff; }
  #nav blockquote {
    border-left-color: #ffffff; }
  #nav code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff; }
  #nav hr {
    border-bottom-color: #ffffff; }
  #nav ul.links {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase; }
    #nav ul.links li {
      display: block;
      padding-left: 0; }
      #nav ul.links li a {
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        display: block;
        font-size: 0.8rem;
        outline: none;
        padding: 0 2rem; }
        #nav ul.links li a:hover {
          color: inherit !important;
          background-color: rgba(255, 255, 255, 0.1); }
      #nav ul.links li.active {
        background-color: #ffffff; }
        #nav ul.links li.active a {
          color: #1e252d; }
          #nav ul.links li.active a:hover {
            color: #18bfef !important; }
  #nav ul.icons {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    #nav {
      display: none; } }

/* Main */
#main {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2; }
  #main > * {
    padding: 4rem 4rem 2rem 4rem ;
    border-top: solid 2px #eeeeee;
    margin: 0; }
    #main > *:first-child {
      border-top: 0; }
  #main > footer {
    text-align: center; }
  #main > .post {
    padding: 8rem 8rem 6rem 8rem ; }
    #main > .post header.major > .date {
      margin-top: -2rem; }
    #main > .post header.major > h1, #main > .post header.major h2 {
      font-size: 4rem;
      line-height: 1.1;
      margin: 0 0 2rem 0; }
    #main > .post.featured {
      text-align: center; }
    @media screen and (max-width: 1280px) {
      #main > .post {
        padding: 6rem 4rem 4rem 4rem ; } }
    @media screen and (max-width: 736px) {
      #main > .post {
        padding: 4rem 2rem 2rem 2rem ; }
        #main > .post header.major > .date {
          margin-top: -1rem;
          margin-bottom: 2rem; }
        #main > .post header.major > h1, #main > .post header.major h2 {
          font-size: 2.5rem;
          line-height: 1.2;
          margin: 0 0 1.5rem 0; } }
  #main > .posts {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0; }
    #main > .posts > * {
      -moz-flex-shrink: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-shrink: 1;
      flex-shrink: 1;
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0; }
    #main > .posts > * {
      width: 50%; }
    #main > .posts > * {
      padding: 4rem;
      width: 50%; }
    #main > .posts > article {
      border-color: #eeeeee;
      border-left-width: 2px;
      border-style: solid;
      border-top-width: 2px;
      text-align: center; }
      #main > .posts > article > :last-child {
        margin-bottom: 0; }
      #main > .posts > article:nth-child(2n - 1) {
        border-left-width: 0; }
      #main > .posts > article:nth-child(-n + 2) {
        border-top-width: 0; }
    @media screen and (max-width: 980px) {
      #main > .posts > * {
        width: 50%; }
      #main > .posts > * {
        padding: 2.5rem;
        width: 50%; } }
    @media screen and (max-width: 736px) {
      #main > .posts > * {
        width: 100%; }
      #main > .posts > * {
        padding: 2rem;
        width: 100%; }
      #main > .posts > article:nth-child(2n - 1) {
        border-left-width: 2px; }
      #main > .posts > article:nth-child(-n + 2) {
        border-top-width: 2px; }
      #main > .posts > article:nth-child(n) {
        border-left-width: 0; }
      #main > .posts > article:nth-child(-n + 1) {
        border-top-width: 0; }
      #main > .posts > article .image {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 736px) {
    #main > * {
      padding: 2rem 2rem 0.1rem 2rem ; } }
  @media screen and (max-width: 480px) {
    #main {
      width: 100%; } }

/* Footer */
#footer {
  color: #717981;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #f5f5f5;
  color: #909498;
  cursor: default;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2; }
  #footer input, #footer select, #footer textarea {
    color: #717981; }
  #footer a {
    color: #717981;
    border-bottom-color: rgba(113, 121, 129, 0.5); }
    #footer a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important; }
  #footer strong, #footer b {
    color: #717981; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #717981; }
  #footer blockquote {
    border-left-color: #e2e2e2; }
  #footer code {
    background: rgba(220, 220, 220, 0.5);
    border-color: #e2e2e2; }
  #footer hr {
    border-bottom-color: #e2e2e2; }
  #footer .box {
    border-color: #e2e2e2; }
  #footer input[type="submit"],
  #footer input[type="reset"],
  #footer input[type="button"],
  #footer button,
  #footer .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #717981;
    color: #717981 !important; }
    #footer input[type="submit"]:hover,
    #footer input[type="reset"]:hover,
    #footer input[type="button"]:hover,
    #footer button:hover,
    #footer .button:hover {
      box-shadow: inset 0 0 0 2px #18bfef;
      color: #18bfef !important; }
    #footer input[type="submit"].special,
    #footer input[type="reset"].special,
    #footer input[type="button"].special,
    #footer button.special,
    #footer .button.special {
      background-color: #717981;
      box-shadow: none;
      color: #f5f5f5 !important; }
      #footer input[type="submit"].special:hover,
      #footer input[type="reset"].special:hover,
      #footer input[type="button"].special:hover,
      #footer button.special:hover,
      #footer .button.special:hover {
        background-color: #18bfef; }
  #footer label {
    color: #717981; }
  #footer input[type="text"],
  #footer input[type="password"],
  #footer input[type="email"],
  #footer select,
  #footer textarea {
    border-color: #e2e2e2; }
    #footer input[type="text"]:focus,
    #footer input[type="password"]:focus,
    #footer input[type="email"]:focus,
    #footer select:focus,
    #footer textarea:focus {
      border-color: #18bfef; }
  #footer select option {
    background-color: #f5f5f5;
    color: #717981; }
  #footer .select-wrapper:before {
    color: #e2e2e2; }
  #footer input[type="checkbox"] + label,
  #footer input[type="radio"] + label {
    color: #717981; }
    #footer input[type="checkbox"] + label:before,
    #footer input[type="radio"] + label:before {
      border-color: #e2e2e2; }
  #footer input[type="checkbox"]:checked + label:before,
  #footer input[type="radio"]:checked + label:before {
    background-color: #717981;
    border-color: #717981;
    color: #f5f5f5; }
  #footer input[type="checkbox"]:focus + label:before,
  #footer input[type="radio"]:focus + label:before {
    border-color: #18bfef; }
  #footer ::-webkit-input-placeholder {
    color: #b3b7bb !important; }
  #footer :-moz-placeholder {
    color: #b3b7bb !important; }
  #footer ::-moz-placeholder {
    color: #b3b7bb !important; }
  #footer :-ms-input-placeholder {
    color: #b3b7bb !important; }
  #footer .formerize-placeholder {
    color: #b3b7bb !important; }
  #footer ul.divided li {
    border-top-color: #e2e2e2; }
  #footer ul.icons li a.icon:hover:before {
    color: #18bfef; }
  #footer ul.icons.alt li .icon:before {
    box-shadow: inset 0 0 0 2px #e2e2e2; }
  #footer ul.icons.alt li a.icon:hover:before {
    box-shadow: inset 0 0 0 2px #18bfef; }
  #footer header.major .date:before, #footer header.major .date:after {
    border-top-color: #e2e2e2; }
  #footer table tbody tr {
    border-color: #e2e2e2; }
    #footer table tbody tr:nth-child(2n + 1) {
      background-color: rgba(220, 220, 220, 0.5); }
  #footer table th {
    color: #717981; }
  #footer table thead {
    border-bottom-color: #e2e2e2; }
  #footer table tfoot {
    border-top-color: #e2e2e2; }
  #footer table.alt tbody tr td {
    border-color: #e2e2e2; }
  #footer .pagination a, #footer .pagination span {
    border-color: #e2e2e2; }
  #footer .pagination a {
    color: #717981 !important; }
    #footer .pagination a:hover {
      color: #18bfef !important;
      border-color: #18bfef;
      z-index: 1; }
      #footer .pagination a:hover + a,
      #footer .pagination a:hover + span {
        border-left-color: #18bfef; }
    #footer .pagination a.active {
      background-color: #e2e2e2; }
  #footer .pagination span {
    color: #e2e2e2; }
  #footer > section {
    -moz-flex-basis: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    padding: 4rem 4rem 2rem 4rem ;
    border-left: solid 2px #e2e2e2; }
    #footer > section:first-child {
      border-left: 0; }
    #footer > section.split {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0; }
      #footer > section.split > section {
        padding: 3rem 4rem 1rem 4rem ;
        border-top: solid 2px #e2e2e2; }
        #footer > section.split > section:first-child {
          padding: 5rem 4rem 1rem 4rem ;
          border-top: 0; }
        #footer > section.split > section:last-child {
          padding: 3rem 4rem 3rem 4rem ; }
      #footer > section.split.contact > section {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        padding: 3.15rem 4rem; }
        #footer > section.split.contact > section > * {
          margin-bottom: 0; }
        #footer > section.split.contact > section > :first-child {
          -moz-flex-shrink: 0;
          -webkit-flex-shrink: 0;
          -ms-flex-shrink: 0;
          flex-shrink: 0;
          -moz-flex-grow: 0;
          -webkit-flex-grow: 0;
          -ms-flex-grow: 0;
          flex-grow: 0;
          width: 6rem; }
        #footer > section.split.contact > section > :last-child {
          -moz-flex-shrink: 1;
          -webkit-flex-shrink: 1;
          -ms-flex-shrink: 1;
          flex-shrink: 1;
          -moz-flex-grow: 1;
          -webkit-flex-grow: 1;
          -ms-flex-grow: 1;
          flex-grow: 1; }
        #footer > section.split.contact > section:first-child {
          padding: 4rem 4rem 3rem 4rem; }
        #footer > section.split.contact > section:last-child {
          padding: 3rem 4rem 4rem 4rem; }
        #footer > section.split.contact > section.alt {
          -moz-align-items: -moz-flex-start;
          -webkit-align-items: -webkit-flex-start;
          -ms-align-items: -ms-flex-start;
          align-items: flex-start; }
          #footer > section.split.contact > section.alt > :last-child {
            margin-top: -0.325rem; }
  #footer form label,
  #footer h3,
  #footer p {
    font-size: 0.8rem; }
  @media screen and (max-width: 980px) {
    #footer {
      display: block; }
      #footer > section {
        border-top: solid 2px #e2e2e2; }
        #footer > section:first-child {
          border-top: 0; }
        #footer > section.split > section {
          padding: 4rem 4rem 2rem 4rem ; }
          #footer > section.split > section:first-child {
            padding: 4rem 4rem 2rem 4rem ; }
          #footer > section.split > section:last-child {
            padding: 4rem 4rem 2rem 4rem ; }
        #footer > section.split.contact > section {
          padding: 4rem; }
          #footer > section.split.contact > section:first-child {
            padding: 4rem; }
          #footer > section.split.contact > section:last-child {
            padding: 4rem; }
      #footer form label,
      #footer h3,
      #footer p {
        font-size: 0.9rem; } }
  @media screen and (max-width: 736px) {
    #footer > section {
      padding: 2rem 2rem 0.1rem 2rem ; }
      #footer > section.split > section {
        padding: 2rem 2rem 0.1rem 2rem ; }
        #footer > section.split > section:first-child {
          padding: 2rem 2rem 0.1rem 2rem ; }
        #footer > section.split > section:last-child {
          padding: 2rem 2rem 0.1rem 2rem ; }
      #footer > section.split.contact > section {
        padding: 2rem; }
        #footer > section.split.contact > section:first-child {
          padding: 2rem; }
        #footer > section.split.contact > section:last-child {
          padding: 2rem; } }
  @media screen and (max-width: 480px) {
    #footer {
      width: 100%; } }

#copyright {
  color: #ffffff;
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem auto 8rem auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2; }
  #copyright input, #copyright select, #copyright textarea {
    color: #ffffff; }
  #copyright a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5); }
    #copyright a:hover {
      border-bottom-color: transparent;
      color: #18bfef !important; }
  #copyright strong, #copyright b {
    color: #ffffff; }
  #copyright h1, #copyright h2, #copyright h3, #copyright h4, #copyright h5, #copyright h6 {
    color: #ffffff; }
  #copyright blockquote {
    border-left-color: #ffffff; }
  #copyright code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff; }
  #copyright hr {
    border-bottom-color: #ffffff; }
  #copyright a {
    color: inherit;
    border-bottom-color: inherit; }
  #copyright ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    #copyright ul li {
      border-left: solid 2px;
      display: inline-block;
      line-height: 1;
      margin-left: 1rem;
      padding-left: 1rem; }
      #copyright ul li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }
  @media screen and (max-width: 1280px) {
    #copyright {
      margin: 4rem auto; } }
  @media screen and (max-width: 480px) {
    #copyright ul li {
      border-left: 0;
      margin: 1rem 0 0 0;
      padding-left: 0;
      display: block; }
      #copyright ul li:first-child {
        margin-top: 0; } }

/* Nav Panel */
#navPanelToggle {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: none;
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  border: 0;
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  padding: 0.375rem 1.25rem;
  text-transform: uppercase;
  z-index: 10001; }
  #navPanelToggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  #navPanelToggle:before {
    content: '\f0c9';
    margin-right: 0.5rem; }
  #navPanelToggle.alt {
    background-color: rgba(255, 255, 255, 0.875);
    box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
    color: #212931; }
    #navPanelToggle.alt:hover {
      background-color: #ffffff; }
  @media screen and (max-width: 980px) {
    #navPanelToggle {
      display: block; } }
  @media screen and (max-width: 736px) {
    #navPanelToggle {
      font-size: 0.8rem;
      padding: 0.25rem 1rem; } }

#navPanel {
  -moz-transform: translateX(20rem);
  -webkit-transform: translateX(20rem);
  -ms-transform: translateX(20rem);
  transform: translateX(20rem);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  display: none;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  box-shadow: none;
  color: #212931;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20rem;
  z-index: 10002; }
  #navPanel .links {
    list-style: none;
    padding-left: 0; }
    #navPanel .links li {
      border-top: solid 2px #eeeeee; }
      #navPanel .links li a {
        border-bottom: 0;
        display: block;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.9rem;
        font-size: 0.9rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0.75rem 0;
        text-transform: uppercase; }
      #navPanel .links li:first-child {
        border-top: 0; }
  #navPanel .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #909498;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    line-height: 3.25rem;
    padding-right: 1.25rem;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7rem; }
    #navPanel .close:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    #navPanel .close:before {
      content: '\f00d';
      font-size: 1.25rem; }
    #navPanel .close:hover {
      color: #212931; }
    @media screen and (max-width: 736px) {
      #navPanel .close {
        height: 4rem;
        line-height: 4rem; } }
  @media screen and (max-width: 980px) {
    #navPanel {
      display: block; } }
  @media screen and (max-width: 736px) {
    #navPanel {
      padding: 2.5rem 1.75rem; } }

@media screen and (max-width: 980px) {
  body.is-navPanel-visible #wrapper {
    opacity: 0.5; }
  body.is-navPanel-visible #navPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    visibility: visible; } }
