<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>{% include head.html %}</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">
						<img src="{{ "/images/logo-small.png" | absolute_url }}" alt="{{site.title}}" />
					</a>
				</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<!-- <ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul> -->
					</nav>

				<!-- Main -->
				<div id="main">
          <section class="post">
    				<header class="major">
      				<!-- <span class="date">{{page.date | date_to_string}}</span> -->
      				<h1>{{page.title}}</h1>
      				<!-- <p>{{page.excerpt}}</p> -->
      			</header>
      			<div class="image main"><img src="{{page.image}}" alt=""></div>
      			<p>{{content}}</p>
      		</section>

					<!-- Footer -->
						<footer>
                <ul class="actions">
                    <li><a href="{{ "/work/" | absolute_url }}" class="button">Our other Work</a></li>
                </ul>
						</footer>
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

      <!-- Scripts -->
  		{% include scripts-main.html %}

	</body>
</html>
